.container{
  width:1200px;
  height:800px;
  position:relativ;
  margin-left:auto;
  margin-right:auto;
  background-color:grey;
  margin-bottom:auto;
  font-family: 'Cinzel Decorative', cursive;
}

}
h1{
  margin-left:45%;
  margin-right:100%;
  font-family: 'Cinzel Decorative', cursive;
}
img{
  width:100%;
  height:500px;
  object-fit:cover;
  box-shadow: 5px 10px 90px 0px black;
  border-radius: 20px;
  margin-top:50px;
}
#Nevem{
  position:absolute;
  top: 480px;
  font-family: 'Cinzel Decorative', cursive;
  margin-left:80px;
  
  
}
.Hi{
  font-size:20px;
  font-family: 'Cinzel Decorative', cursive;
  margin-top:160px;
  line-height:5px;
  margin-bottom:10px
}
.Sky{
  font-size:40px;
  font-family: 'Cinzel Decorative', cursive;
  margin-top:20px;
}
.eleje{
  font-size:20px;
  margin-left:20px;;
  margin-right:auto;
  margin-top:100px;
}
.lista{
  font-size:15px;
  margin:auto;
  font-family: 'Cinzel Decorative', cursive;
  line-height:50px;
  margin-left:20px;
    
}


h2{
  margin-left:auto;
  margin-right:auto;
  background-color: #444;
  font-size:50px;
  font-family: 'Cinzel Decorative', cursive;

  
}
h3{
  font-size:30px;
  margin:auto;
  font-family: 'Cinzel Decorative', cursive;
}
h5{
  font-size:25px;
  font-family: 'Cinzel Decorative', cursive;
  margin:auto;
  margin-left:20px;
  margin-bottom:10px;
}
.szoveg1{
  font-size:15px;
  margin:auto;
  margin-left:10px;
  font-family: 'Merriweather', serif;
}
.alcim{
  font-size:20px;
  margin:auto;
  margin-left:20px;
  font-family: 'Cinzel Decorative', cursive;
}
h6{
  font-size:25px;
  margin-left:250px;
  margin-right:250px;
}
.resz3{
  margin-bottom:0;
  margin:10px;
  font-family: 'Cinzel Decorative', cursive;
    
}
.idezet2{
  width:580px;
  height:150px;
  display:flex;
  justify-content:center;
  text-align:center;
  font-family: 'Cinzel Decorative', cursive;
  border-radius: 20px;
  
 
}
blockquote{
  
  background-color: #444;
  
  margin-left:auto;
  margin-right:auto;
  color:cyan;
  font-size:50px;
  

  
}

blockquote::before {
  content: "\201C";
  
  color:cyan;
  font-size:100px;
  position:relative;
 
  top:-50px;
  left:-10px;
  }
#idezojel{
  background-color:#444;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  height:600px;
  border-radius: 20px;
}

  

.doboz{
  display:flex;
  margin-top:0px;
  
  
}
#doboz1{
  width:500px;
  margin-top:190px;
  
}
#doboz2{
  margin-top:200px;
}
.Doboz{
  display:flex;
  background-color:grey;
  
  width:1200px;
  margin:auto;
  
    
}

.idezet2{
  height:600px;
  width:400px;
  margin-right:auto;
  margin-left:20px;
 
}

.notable{
  display:flex;
  flex-direction:column;
  width:600px;
  margin-right:150px;
}
.doboz3{
  display:flex;
  background-color:grey;
  width:1200px;
  margin:auto;
}
#doboz3b{
  display:flex;
  flex-direction:column;
  background-color:grey;
}

.doboz4{
  display:flex; 
  background-color:grey;
  width:1200px;
  margin:auto;
}
.doboz4a{
  display:flex;
  flex-direction:column;
  
}
a:hover{
  color: lime; }
a{
  color: blue;
}

.navigation{
  margin-left:auto;
  margin-right:auto;
  background: url(https://cdn.pixabay.com/photo/2017/11/01/14/24/star-wars-2908139_1280.jpg);
  width:1200px;
  text-align:center;
  height:220px;
  font-size:65px;
  position:fixed;
  margin-top:0px;
  justify-content:space-around;
  }